@import '~@angular/material/theming';
@import '../../styles/custom-theme.scss';

mat-card {
  margin: 10px;
}

.floating {
  /* TODO: This button is currently hidden. Display once the Like method is implemented. */
  display: none;
  position: absolute;
  right: 2em;
  bottom: -1.5em;
  /* Setting the primary color here prevents the flicker from the accent color. */
  background-color: mat-color($custom-theme-primary) !important;
}

mat-card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

mat-card-header {
  margin-bottom: 16px;
}

.title-container {
  overflow: hidden;
}

/* To maintain the image's aspect ratio, we treat the card's mat-image as it's container. */
.mat-card-image {
  height: 0;
  padding-bottom: calc(56.25% + 27px);
  position: relative;
  margin-bottom: 0;
}

.mat-card-image img {
  max-width: 100%;
  max-height:100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mat-card-image .message-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: gray;
}

/* The card modifies it's width at this breakpoint. */
@media (max-width: 600px) {
  .mat-card-image {
    padding-bottom: calc(56.25% + 18px);
  }
}
