<div class="mat-typography" fxLayout="column" fxLayoutAlign="start center">
  <div class="banner" *ngIf="portal?.getThumbnail()">
    <img *ngIf="(portal?.getThumbnail().url | ignAuthHeader | async) as result"
      [src]="result" alt="Portal Banner">
  </div>

  <h1 class="margin">{{portal.name}}</h1>

  <p>{{portal.description}}</p>

  <div fxLayout.gt-sm='row' fxLayout.lt-md='column'
       fxLayoutAlign='center' fxFill>

    <!-- Leaderboard -->
    <ign-leaderboard fxLayout='column' fxFlex='auto' *ngIf="portal.participants && portal.participants.length">
    </ign-leaderboard>
    <!-- End leaderboard -->

    <!-- Participants -->
    <div fxLayout='column' fxFlex='auto'>
      <mat-card fxFlex="auto" *ngIf="this.authService.hasWriteAccess('subt')">
        <mat-card-title>Participants</mat-card-title>

        <mat-card-content>
          <mat-tab-group dynamicHeight fxFill>
            <mat-tab>
              <ng-template mat-tab-label>
                <span>Pending</span>
              </ng-template>

              <div class="tab-content" *ngIf="paginatedPendingRegistrations && paginatedPendingRegistrations.registrations.length">
                <mat-list>
                  <mat-list-item class="list-divider" *ngFor="let reg of pendingRegistrations">
                    <h4 mat-line>{{reg.participant}}</h4>
                    <p mat-line>Competition: {{reg.competition}}</p>
                    <p mat-line>Created at: {{reg.createdAt | date}}</p>
                    <button mat-icon-button color="primary" title="Approve this registration request" (click)="approveRegistration(reg)">
                      <mat-icon>check_circle</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" title="Reject this registration request" (click)="rejectRegistration(reg)">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-list-item>
                </mat-list>

                <mat-paginator [length]="paginatedPendingRegistrations.totalCount"
                               [pageSize]="10"
                               [pageSizeOptions]="[10]"
                               (page)="pageEvent = getPendingRegistrations($event)">
                </mat-paginator>
              </div>

              <div *ngIf="!paginatedPendingRegistrations || paginatedPendingRegistrations.registrations.length === 0">
                <mat-list>
                  <mat-list-item>
                    <h4 mat-line>No pending registrations.</h4>
                  </mat-list-item>
                </mat-list>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <span>Registered</span>
              </ng-template>

              <div *ngIf="paginatedParticipants">
                <mat-list>
                  <mat-list-item class="list-divider" *ngFor="let participant of paginatedParticipants.organizations">
                    <h4 mat-line><a routerLink='/{{participant.name}}'>{{participant.name}}</a></h4>

                    <button mat-icon-button color="warn" title="Remove this participant." (click)="removeParticipant(participant)">
                      <mat-icon>cancel</mat-icon>
                    </button>
 
                  </mat-list-item>
                </mat-list>

                <mat-paginator [length]="paginatedParticipants.totalCount"
                               [pageSize]="10"
                               [pageSizeOptions]="[10]"
                               (page)="pageEvent = getParticipants($event)">
                </mat-paginator>
              </div>

              <div *ngIf="!paginatedParticipants || paginatedParticipants.organizations.length === 0">
                <mat-list >
                  <mat-list-item>
                    <h4 mat-line>No participants so far.</h4>
                  </mat-list-item>
                </mat-list>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>

      <!-- Logfiles -->
      <mat-card *ngIf="portal.participants && portal.participants.length"
                fxFlex="auto">
        <mat-card-title>Logfiles</mat-card-title>

        <mat-card-content>
          <mat-tab-group dynamicHeight fxFill>
            <mat-tab>
              <ng-template mat-tab-label>
                <span>Pending</span>
              </ng-template>

              <div class="tab-content" *ngIf="pendingPaginatedLogfiles && pendingPaginatedLogfiles.logfiles.length">
                <mat-list>
                  <mat-list-item class="list-divider" *ngFor="let logfile of pendingPaginatedLogfiles.logfiles">
                    <h4 mat-line title='Filename'>{{logfile.name}}</h4>
                    <h4 mat-line>By
                      <span class='log-details'>
                        <a routerLink='/{{logfile.owner}}' title='Owner'>{{logfile.owner}}</a> / <a routerLink='/{{logfile.creator}}' title='Creator'>{{logfile.creator}}</a>
                      </span> on

                      <span class="log-details" title="Uploaded on {{logfile.uploadDate | date: 'long'}}">{{logfile.uploadDate | date: 'mediumDate'}}</span>
                    </h4>

                    <div fxLayout="row" fxLayoutGap="10px" *ngIf="this.authService.hasWriteAccess('subt')">
                      <button mat-raised-button color="primary" (click)="scoreLogfile(logfile)">
                        Score
                      </button>
                      <button mat-button (click)="rejectLogfile(logfile)">
                        Mark as Invalid
                      </button>
                    </div>
                    <button mat-icon-button title="Download {{logfile.name}}" (click)="downloadLogfile(logfile)">
                      <mat-icon>file_download</mat-icon>
                    </button>
                  </mat-list-item>
                </mat-list>

                <mat-paginator [length]="pendingPaginatedLogfiles.totalCount"
                               [pageSize]="10"
                               [pageSizeOptions]="[10]"
                               (page)="pageEvent = getPendingLogfiles($event)">
                </mat-paginator>
              </div>

              <div class="tab-content" *ngIf="!pendingPaginatedLogfiles || pendingPaginatedLogfiles.logfiles.length === 0">
                <mat-list>
                  <mat-list-item>
                    <h4 mat-line>No pending logfiles.</h4>
                  </mat-list-item>
                </mat-list>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <span>Done</span>
              </ng-template>

              <div class="tab-content" *ngIf="donePaginatedLogfiles && donePaginatedLogfiles.logfiles.length">
                <mat-list>
                  <mat-list-item class="list-divider" *ngFor="let logfile of donePaginatedLogfiles.logfiles">
                    <h4 mat-line title='Filename'>{{logfile.name}}</h4>
                    <h4 mat-line>By
                      <span class='log-details'>
                        <a routerLink='/{{logfile.owner}}' title='Owner'>{{logfile.owner}}</a> / <a routerLink='/{{logfile.creator}}' title='Creator'>{{logfile.creator}}</a>
                      </span> on

                      <span class="log-details" title="Uploaded on {{logfile.uploadDate | date: 'long'}}">{{logfile.uploadDate | date: 'mediumDate'}}</span>
                    </h4>

                    <div fxLayout="row" fxLayoutGap="10px">
                    <mat-chip-list>
                      <mat-chip *ngIf="logfile.status === 1" color='primary' selected>{{logfile.score}}&nbsp;points</mat-chip>
                    </mat-chip-list>

                    <button mat-icon-button title="Download {{logfile.name}}" (click)="downloadLogfile(logfile)">
                      <mat-icon>file_download</mat-icon>
                    </button>
                    </div>
                  </mat-list-item>
                </mat-list>

                <mat-paginator [length]="donePaginatedLogfiles.totalCount"
                               [pageSize]="10"
                               [pageSizeOptions]="[10]"
                               (page)="pageEvent = getDoneLogfiles($event)">
                </mat-paginator>
              </div>

              <div class="tab-content" *ngIf="!donePaginatedLogfiles || donePaginatedLogfiles.logfiles.length === 0">
                <mat-list>
                  <mat-list-item>
                    <h4 mat-line>No logfiles were scored.</h4>
                  </mat-list-item>
                </mat-list>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <span>Rejected</span>
              </ng-template>

              <div class="tab-content" *ngIf="rejectedPaginatedLogfiles && rejectedPaginatedLogfiles.logfiles.length">
                <mat-list>
                  <mat-list-item class="list-divider" *ngFor="let logfile of rejectedPaginatedLogfiles.logfiles">
                    <h4 mat-line title='Filename'>{{logfile.name}}</h4>
                    <h4 mat-line>By
                      <span class='log-details'>
                        <a routerLink='/{{logfile.owner}}' title='Owner'>{{logfile.owner}}</a> / <a routerLink='/{{logfile.creator}}' title='O'>{{logfile.creator}}</a>
                      </span> on
                      <span class="log-details" title="Uploaded on {{logfile.uploadDate | date: 'long'}}">{{logfile.uploadDate | date: 'mediumDate'}}</span>
                    </h4>

                    <div fxLayout="row" fxLayoutGap="10px" *ngIf="this.authService.hasWriteAccess('subt')">
                      <button mat-raised-button color="primary" (click)="scoreLogfile(logfile, true)">
                        Score
                      </button>
                    </div>
                    <button mat-icon-button title="Download {{logfile.name}}" (click)="downloadLogfile(logfile)">
                      <mat-icon>file_download</mat-icon>
                    </button>
                  </mat-list-item>
                </mat-list>

                <mat-paginator [length]="rejectedPaginatedLogfiles.totalCount"
                               [pageSize]="10"
                               [pageSizeOptions]="[10]"
                               (page)="pageEvent = getRejectedLogfiles($event)">
                </mat-paginator>
              </div>

              <div class="tab-content" *ngIf="!rejectedPaginatedLogfiles || rejectedPaginatedLogfiles.logfiles.length === 0">
                <mat-list>
                  <mat-list-item>
                    <h4 mat-line>No logfiles were rejected.</h4>
                  </mat-list-item>
                </mat-list>
              </div>
            </mat-tab>
          </mat-tab-group>

          <button *ngIf="!this.authService.hasWriteAccess('subt')" mat-raised-button color="primary" (click)="uploadLogfile()">
            Upload a Logfile
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- Register button, only shown when the user is not a participant, not an admin and has no pending registrations -->
  <div *ngIf="!authService.hasWriteAccess('subt') && portal.participants.length === 0"
    fxLayout="column" fxLayoutAlign="start center">

    <div *ngIf="pendingRegistrations && pendingRegistrations.length > 0" fxLayout="column" fxLayoutAlign="start center">
      <h2 class="title">Pending registration approval</h2>
      <p>Your request will be soon be reviewed by an admin of {{portal.name}}.</p>
      <p>Please come back later!</p>
    </div>

    <button class="margin" mat-raised-button color="primary"
      (click)="authService.login()"
      *ngIf="!authService.isAuthenticated(); else register_button">
      Log in to Register
    </button>

    <ng-template #register_button>
      <button class="margin" mat-raised-button color="primary" *ngIf="pendingRegistrations && pendingRegistrations.length === 0"
              (click)="registration()" [title]="registrationButtonTitle()">
         Register
      </button>
    </ng-template>
  </div>
</div>
