<div class="body mat-typography">
  <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start start">
    <h1>Status: {{ connectionStatus }}</h1>

    <h3>Note: The information and messages are shown in the console, for testing purposes</h3>

    <div fxLayoutAlign="start" fxLayoutGap="20px">

      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start start">
        <mat-form-field>
          <input matInput [(ngModel)]="wsUrl" placeholder="Websocket URL">
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="authKey" placeholder="Authorization Key">
        </mat-form-field>

        <button mat-raised-button (click)="connect()" *ngIf="connectionStatus === 'Disconnected'">
          Connect
        </button>

        <button mat-raised-button (click)="disconnect()" *ngIf="connectionStatus !== 'Disconnected'">
          Disconnect
        </button>
      </div>

      <div>
        <button mat-raised-button (click)="getAvailableTopics()" [disabled]="connectionStatus === 'Disconnected'">
          Get available topics
        </button>
      </div>
    </div>

    <div *ngIf="availableTopics && availableTopics.length > 0; else noTopics">
      <ul>
        <li *ngFor="let topic of availableTopics">
          <div fxLayoutAlign="space-between center" fxLayoutGap="20px">
            <span>{{ topic }}</span>

            <div>
              <button mat-raised-button (click)="subscribe(topic)">
                Subscribe
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <ng-template #noTopics>
      <h4 *ngIf="connectionStatus === 'Disconnected'">No topics available yet</h4>
      <h4 *ngIf="connectionStatus !== 'Disconnected'">Click above to get the topics available</h4>
    </ng-template>
  </div>
</div>

<div fxLayout="row">
  <div class="visualizer" fxFill>
    <div class="outer" #fullScreen>

      <a class="follow-button" *ngIf="following" mat-icon-button (click)="follow(null)" title="Stop following">Stop following</a>

      <div class="controls">
        <a mat-icon-button (click)="toggleLights()" title="Toggle lights"><mat-icon>highlight</mat-icon></a>
        <a mat-icon-button (click)="resetView()" title="Reset view"><mat-icon>home</mat-icon></a>
        <a mat-icon-button (click)="toggleFullscreen()" title="Full screen"><mat-icon>fullscreen</mat-icon></a>
      </div>

      <div class="inner" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center">
          <div id="scene" (window:resize)="resize()"></div>
          <div fxLayout="column" class="gz3d-side-panel" *ngIf="models.length > 0">
            <h2>Entities</h2>
            <mat-list class="entity-list">
              <mat-list-item *ngFor="let model of models" [matMenuTriggerFor]="menu">{{model['name']}}
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="select(model)">Select</button>
                  <button mat-menu-item (click)="moveTo(model)">Move to</button>
                  <button mat-menu-item (click)="follow(model)">Follow</button>
                </mat-menu>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
