@import '~@angular/material/theming';
@import '../../styles/custom-theme.scss';

div ::ng-deep .mat-tab-header {
  align-self: center;

  // This maintains the Tab header's size.
  @media screen and (min-width: 600px) {
    width: 60%;
  }
  @media screen and (max-width: 599px) {
    width: 80%;
  }
}

div ::ng-deep .mat-tab-labels {
  justify-content: space-evenly;
}

div ::ng-deep .mat-tab-label {
  flex-grow: 1;
}

.tab-content {
  margin: 0 20px;
}

.color-primary {
  color: mat-color($custom-theme-primary);
}

.header {
  padding: 0 20px;
}

.header h1 {
  margin: 10px 0 !important;
}

.header .header-title mat-icon {
  margin-right: 0.5rem;
}

.buttons {
  margin-top: 10px;
  button:not(:last-child) {
    margin-right: 10px;
  }
}

.banner {
  height: 320px;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#search-icon {
  vertical-align: text-bottom;
}

input.search {
  line-height: 1em;
}

.bibtex {
  margin: 0px!important;
}

.bibtex:hover {
  cursor: pointer;
  color: mat-color($custom-theme-primary);
}

.mat-expansion-panel {
  background-color: transparent;
}

.mat-expansion-panel-header {
  padding-left: 0;
}
